<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>São Miguel Artigos Religiosos</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
  
<!-- inicio menu-->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FF3131;">

      <div class="container-fluid">
         <img src="/img/icon.png" alt="Logo" height="50" class="mr-3">
        <a class="navbar-brand" href="#">São Miguel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/mostra_produtos_geral">Produtos</a>
            </li>

             <li class="nav-item">
              <a class="nav-link" href="/contatos">Contato</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gestao
              </a>
              <ul class="dropdown-menu">   
                <li><hr class="dropdown-divider"> Usuários</li>
                <li><a class="dropdown-item" href="/exibir_users">Exibir usuários </a></li>
                 <li><a class="dropdown-item" href="/cad_users">Cadastrar usuários </a></li>
                 <li><a class="dropdown-item" href="/editar_users">Alterar usuários </a></li>
                <li><hr class="dropdown-divider"> Produtos</li>
                <li><a class="dropdown-item" href="/exibir_prod">Exibir Produtos </a></li>
                 <li><a class="dropdown-item" href="/cad_prod">Cadastrar Produtos </a></li>
                 <li><a class="dropdown-item" href="/editar_prod">Alterar Produtos </a></li>             
              </ul>
            </li>
           
          </ul>
          <form action="/pesquisa_produto" method="get" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Pesquisar seu produto" aria-label="Search" name="descricao">
           <button class="btn btn-light"  type="submit" href="/pesquisa_produtos" >Pesquisar</button>
          </form>
        </div>
      </div>
    </nav>
<!-- fim do menu-->
</div>
 <!-- INÍCIO DA VITRINE -->
     <div class="container">
      {{{body}}}
    </div>

  
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
