<div class="bg-light p-5 rounded mt-3">
    <h1>Cadastrar Usuário</h1>

<div class="mb-3">

     <form action="/insert_users" method="post">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">e-mail</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
      </div>

        <label for="senha" class="form-label">Senha</label>
      <input type="password" id="senha" name="senha" class="form-control" aria-describedby="Digite sua senhak">
      <div id="passwordHelpBlock" class="form-text">
        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
      </div>


       <button class="btn btn-danger">Cadastrar</button>
    </div>
    </form>

</div>