<!doctype html>
<html lang="pt-br">
<head>
    <title>Minha Loja de Produtos Religiosos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


    <div class="w-100 container ">
        <section class="w-100 text-section">
            <h1 class="display-4 cor">Bem-vindo à Nossa Loja de Produtos Religiosos</h1>
            <p class="lead">Aqui na nossa loja, você encontrará uma ampla seleção de produtos religiosos para atender às suas necessidades espirituais. Temos uma variedade de itens sagrados, símbolos religiosos e muito mais.</p>        
        </section>
    </div>
<body>
    <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-custom">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/img/Presentes.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="img/Livraria.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
   </div>
     <div class="carousel-item" data-bs-interval="2000">
      <img src="img/Roupas.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>      
    </div>
    </div>
  </div>


  

  <!-- <div class="container">
      <!-- INÍCIO DA VITRINE -->
   
    <!-- FIM DO CONTEÚDO -->
    <div class="container">
      {{{body}}}
   <div class="row g-1">

      <form action="/produtos">
      <button href="/produtos" class="w-100 btn btn btn-danger">Acessar Vitrine</button>
      </form>
  <!--   <li><a class="dropdown-item" href="/produtos">Teste Gabriely</a></li>-->
      </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>