<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="bg-light p-5 rounded mt-3">
        <h1>Login</h1>

        <div class="mb-3">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha">
                </div>
                <button type="submit" class=" btn btn-danger">Entrar</button>
            </form>
        </div>

        <p>Ainda não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
    </div>
</div>

</body>
</html>